/* IMPORTANDO OUTROS ARQUIVOS CSS */
@import url(partials/colors.css);
@import url(partials/typography.css);
@import url(partials/layout.css);
@import url(partials/buttons.css);
@import url(partials/spacing.css);
@import url(partials/menu.css);
@import url(partials/animations.css);

/* IMPORTANDO ESTILZAÇÃO DAS PAGINAS DO SITE */
@import url(pages/welcome.css);
@import url(pages/aboutUs.css);
@import url(pages/pillars.css);
@import url(pages/theory.css);
@import url(pages/login.css);
@import url(pages/dashboard.css);
@import url(pages/cadastroEmpresa.css);

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* LARGURA DA BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 7px;
}

/* FUNDA DA BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* COR DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb {
    background: var(--darked-blue);
    border-radius: 3px;
}

/* HOVER DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--darkness-blue);
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}

section{
    width: 100vw;
    height: 100vh;
    padding-top: 65px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}