#page-about-us{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.svg-cards-about-us{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1440px){
    .svg-cards-about-us{
        width: 90%;
    }
}

@media (max-width: 1140px){
    .svg-cards-about-us{
        width: 90%;
    }
}


@media (max-width: 960px){
    .svg-cards-about-us{
        width: 90%;
    }
}

.about-us-father{
    display: flex;
    width: 100%;
    height: 100%;
}   

@media (max-width: 960px){
    .about-us-father{
        display: flex;
        flex-direction: column-reverse;
    }
}

/* --// LADO DO TEXTO DA TELA ABOUT US //-- */

.about-us-informations{
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.about-us-child-text{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
}

.about-us-list{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.about-us-list-item{
    display: flex;
    gap: var(--gap-2);
}

.about-us-texto{
    width: 80%;
}

@media (max-width: 960px){
    .about-us-child-text{
        width: 90%;
        height: 100%;
    }
}



/* --// LADO DA IMAGEM DA TELA ABOUT US //-- */

.about-us-child-img{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.about-us-img{
    width: 75%;
}


@media (max-width: 1140px){
    .about-us-img{
        width: 90%;
    }
    
}

@media (max-width: 960px){
    .about-us-father{
        justify-content: center;
        align-items: center;
    }

    .about-us-texto{
        width: 100%;
    }

    .about-us-child-img{
        width: 90%;
        height: 100%;

        justify-content: center;

    }

    .about-us-img{
        display: none;
    }
    
}

@media (max-width: 540px){

    .about-us-informations{
        padding-bottom: var(--gap-3);
    }

}