/* --// CUSTOMIZANDO FUNDO CADASTRO-EMPRESA //-- */


#page-cadastro-ind {
    background: url(../../img/fundo-home.png) no-repeat center center;
    background-size: cover;

    padding-top: 0;
    display: flex;
    justify-content: center;

}

.father-cadastro-ind {
    width: 100%;
    height: 100%;
    
    display: flex;
}

.cadastro-child-form {
    width: 45%;
    height: 100%;
    padding: var(--gap-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

@media(max-width: 960px){
    .cadastro-child-form{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* //-- ESTILIZANDO FORMULARIO DE CADASTRO --// */
.cadastro-ind-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    /* max-height: 620px; */
    height: 100%;
   
    gap: var(--gap-2);
    padding: var(--gap-2) var(--gap-3);
    border-radius: 10px;

    background: white;
}

.cadastro-ind-form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 80px;
    height: 100%;
}

.cadastro-form-logo {
    width: 100px;
}

.cadastro-form-titulo {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-1); */
    width: 100%;
    font-size: 20px;
}

.cadastro-form-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    border-radius: 6px;
    padding: 10px;
    text-align: left;

    background: var(--dark-white);
}

.icon {
    position: absolute;
    top: 57%;
    left: 20px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.cadastro-form-input {
    width: 91%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
  }

  .login-form-btn{
    width: 100%;
    max-height: 50px;
    height: 100%;
}

.login-child-content{
    width: 55%;
    height: 100%;

    display: flex;
    align-items: center;
    padding: var(--gap-3);
}

.login-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

@media (max-width: 960px){
    .login-child-content{
        display: none;
    }

    .login-child-form{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

