.telaEnd{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    margin-bottom: 100px;
}

.telaEnd h1{
    padding-bottom: 2%;
}