body {
  background-color: #141414;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/*footer*/
footer {
  width: 100%;
  height: auto;
  background-color: #0E0D18;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--gap-5);
  padding: var(--gap-3) 10%;

}

/*logo-img*/
.logo {
  min-width: 150px;
  width: 12%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo-img {
  width: 100%;

}

.alinhamento {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-2);
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

/*autores-footer*/
.autores-footer {
  min-width: 150px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* margin-bottom: 20px; */
}

/*organizar*/
.organizar {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);

  width: 100%;

}

/*pessoas-footer*/
.pessoas-footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  width: 100%;
  margin: 0;
  /* padding: 5px; */
}

.pessoas-footer li {
  list-style: none;
  margin-bottom: 3%;
  font-size: 11px;
  width: 100%;
}

/*contato-footer*/
.contato-footer {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/*endereco-footer*/
.endereco-footer {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/*redes-footer*/
.redes-footer {
  min-width: 150px;
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/*redes-sociais-footer*/
.redes-sociais-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 12px; */
}

/*linkedin-footer-img*/
.linkedin-footer-img {
  /* margin-right: 20px; */
  height: 25px;
}

.linkedin-footer-img img{
  height: 45px;
  width: 100%;
}

/*github-footer-img*/
.github-footer-img {
  height: 25px;
}

.github-footer-img img{
  height: 45px;
  width: 100%;
}
footer h5 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  font-size: 11px;
}

@media (max-width: 400px){
  .alinhamento{
    justify-content: center;
  }
}