#page-theory{
    background: url(../../img/fundo-iceberg3.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 170vh;
    position: relative;

    display: flex;
    justify-content: center;
}

.father-theory{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child-theory-intro{
    width: 100%;
    max-height: 425px;
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-theory-content{
    display: flex;
    width: 100%;
    height: 50%;
    padding: var(--gap-3);
    margin-bottom: var(--gap-6);
}

.theory-text{
    max-width: 680px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: var(--gap-2);

    z-index: 2;
}

.cicle-blur{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(68, 43, 179, 0.479);
    filter: blur(80px);

    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

/* --// ESTILIZANDO "SUA INFRAESTRUTURA SEGURA" //-- */
.child-theory-content-intro{
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    width: 45%;
    height: 100%;
}

/* --// ESTILIZANDO "SUA INFRAESTRUTURA SEGURA" AREA DE TEXTO //-- */
.theory-intro-text-area{
    width: 70%;
}

/* --// ESTILIZANDO OS TOPICOS //-- */
.child-theory-content-topics{
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.theory-content-topics{
    display: flex;

    width: 100%;
    max-height: 110px;
    height: 100%;
}

.theory-content-area-line{
    width: 100%;
    max-height: 150px;
    height: 100%;

    display: flex;
}

.theory-content-line-space{
    height: 100%;
    min-width: 320px;
    width: 60%;
}

.theory-content-line{
    max-width: 200px;
    width: 100%;
    max-height: 150px;
    height: 100%;

    display: flex;
    justify-content: center;
}

.line-topics{
    border: none;
    border-radius: 10px;
    width: 5px;
    height: 100%;
    background: var(--dark-white);
}

.content-topics-icon{
    max-width: 200px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-icon-ice{
    max-width: 60px;
    width: 100%;
}

.content-topics-text{
    min-width: 320px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --// RESPONSICIDADE DA SEGUNDA PARTE DE TEORIA //-- */
@media (max-width: 960px){

    .child-theory-intro{
        max-height: 325px;
        height: 100%;
    }

    .child-theory-content{
        flex-direction: column;
        width: 100%;
        height: 60%;
        padding: var(--gap-2);
        margin-bottom: var(--gap-3);
    }

    .child-theory-content-intro{
        width: 100%;
        height: 70%;
        gap: var(--gap-2);
    }

    .theory-intro-text-area{
        width: 90%;
    }

    .child-theory-content-topics{
        width: 100%;
    }
    
    .content-topics-text{
        width: 90%;
        min-width: 300px;
    }

    .theory-content-area-line{
        max-height: 150px;
        height: 10%;
    
        display: flex;
    }

    .theory-content-line-space{
        min-width: 300px;
    }

    .content-topics-icon{
        max-width: 50px;
    }

    .theory-content-line{
        max-width: 50px;
    }

}

@media (max-width: 540px){
    .content-topics-icon{
        max-width: 50px;
        min-width: 50px;
        width: 100%;
    }

    .theory-content-line-space{
        min-width: 250px;
    }

    .child-theory-content{
        margin-bottom: var(--gap-1);
    }

    .theory-content-line{
        min-width: 50px;
    }

    .child-theory-content{
        height: 70%;
    }

    .content-topics-text{
        min-width: 250px;
        width: 60%;
    }
}