#page-welcome {
    background: url(../../img/fundo-home.png) no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.welcome-father{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.welcome-child{
    width: 50%;
    height: 100%;

    display: flex;

}

.welcome-child-logo{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.welcome-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-2);
    width: 100%;
}

.welcome-logo{
    width: 70%;
}

/* RESPONSIVIDADE DA PAGE WELCOME */
@media (max-width: 1140px){
    .welcome-father{
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .welcome-child{
        width: 100%;
        height: 30%;
    
        display: flex;
    }

    .welcome-child-logo{
        width: 100%;
        height: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-logo{
        width: 60%;
    }

    .welcome-card-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-card-titulo{
        text-align: center;
    }

    .welcome-card-argument{
        text-align: center;
    }
}   

@media (max-width: 960px){
    .welcome-logo{
        width: 65%;
    }
}

@media (max-width: 540px){

    .welcome-child-logo{
        display: none;
    }

    .welcome-card-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-card-titulo{
        text-align: center;
    }

    .welcome-card-argument{
        text-align: center;
    }

}