.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--normal-purple), var(--light-purple));
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.5s;
}

.create-btn:hover {
  background: linear-gradient(90deg, var(--light-purple), var(--normal-purple));
}

.create-btn:active {
  background: linear-gradient(90deg, var(--dark-purple), var(--normal-purple));
}

/* BOTÃO COM SETA */
.about-us-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid white;
  transition: 0.5s;
  z-index: 1;
  border-radius: 6px;
  color: white;
  background: transparent;
}

.about-us-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--normal-purple);
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

.about-us-btn:hover {
  color: #fff;
}

.about-us-btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.about-us-btn:hover:before {
  top: -30px;
  left: -30px;
}

.about-us-btn:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

/* //-- ESTILIZAÇÃO DA INPUT --// */

.login-form-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  border-radius: 6px;
  padding: 10px;
  text-align: left;

  background: var(--dark-white);
}

.icon {
  position: absolute;
  top: 57%;
  left: 20px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.login-form-input {
  width: 91%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;

}

/* //-- ESTILIZANDO BOTÃO DA TELA LOGIN --// */

.login-btn{
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;

  border-radius: 10px;
  background: var(--purple-blue);
}