/* MARGEM LATERAL DO SITE  */
/*           &&            */
/* RESONSIVIDADE DA MARGEM */
@media (min-width: 1440px){
    .margin-web{
        margin: 0px 120px;
        max-width: 1680px;
    }
}

@media (max-width: 1440px){
    .margin-web{
        margin: 0px 100px;
        max-width: 1440px;
    }
}

@media (max-width: 1140px){
    .margin-web{
        margin: 0px 80px;
        max-width: 1440px;
    }
}   

@media (max-width: 960px){
    .margin-web{
        margin: 0px 60px;
        max-width: 1440px;
    }
}

@media (max-width: 540px){
    .margin-web{
        margin: 0px 20px;
        max-width: 1440px;
    }
}


#section-space{
    width: 100%;
    height: 30vh;
}