/* LARGURA DA BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 7px;
}

/* FUNDA DA BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* COR DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb {
    background: var(--darked-blue);
    border-radius: 3px;
}

/* HOVER DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

header{
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: var(--dark-nav-black);
    backdrop-filter: blur(20px);
}