@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*,
*:after,
*:before {
    font-family: "Sora", sans-serif;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 48px;
        line-height: 110%;
        font-weight: 300;
    }

    h2 {
        font-size: 40px;
        line-height: 110%;
        font-weight: 300;
    }

    h3 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 24px;
        line-height: 130%;
        font-weight: 400;
    }

    h5 {
        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
    }

    p, a {
        font-size: 18px;
        font-weight: 300;        
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 40px;
        line-height: 110%;
        font-weight: 300;
    }

    h2 {
        font-size: 36px;
        line-height: 110%;
        font-weight: 300;
    }

    h3 {
        font-size: 28px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 20px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 18px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a {
        font-size: 16px;
        font-weight: 300;        
    }
}

@media (max-width: 1140px) {
    h1 {
        font-size: 36px;
        line-height: 110%;
        font-weight: 300;
    }

    h2 {
        font-size: 32px;
        line-height: 110%;
        font-weight: 300;
    }

    h3 {
        font-size: 24px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 18px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 16px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a {
        font-size: 14px;
        font-weight: 300;
    }
}

@media (max-width: 960px) {
    h1 {
        font-size: 32px;
        line-height: 110%;
        font-weight: 300;
    }

    h2 {
        font-size: 28px;
        line-height: 110%;
        font-weight: 300;
    }

    h3 {
        font-size: 20px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 16px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 14px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a {
        font-size: 14px;
        font-weight: 300;        
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 28px;
        line-height: 110%;
        font-weight: 300;
    }

    h2 {
        font-size: 24px;
        line-height: 110%;
        font-weight: 300;
    }

    h3 {
        font-size: 18px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 14px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 12px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a {
        font-size: 12px;
        font-weight: 300;        
    }
}

.bold {
    font-weight: bold;
}

.extra-light {
    font-weight: 100;
    color: #D9D9D9;
}